// PRIMARY COLORS
$primary-cyan: hsl(171, 66%, 44%);
$primary-light-blue: hsl(233, 100%, 69%);

// SECONDARY COLORS
$secondary-dark-blue: hsl(210, 10%, 33%);
$secondary-grayish-blue: hsl(201, 11%, 66%);